	#topbar {
	  overflow: hidden;
	}

	#topbar a {
	  float: left;
	  color: #00857c;
	  text-align: center;
	  padding: 14px 10px;
	  text-decoration: none;
	  font-size: 15px;
	}

	#topbar a:hover {
	  float: left;
	  color: #4bb5ab;
	  text-align: center;
	  padding: 12px 8px;
	  font-size: 17px;
	}
	
	#topbar img {
		height: 70px"
	}

	#topbar img:hover {
	  background-color: #ddd;
	  color: black;
	}

	#topbar img.icon {
	  background-color: #4CAF50;
	  color: white;
	}