		#communityCarousel {
			max-width: fit-content;
			max-height: fit-content;
			margin: 7% auto 0% auto;
		}
		
		.carousel-caption a {
			color: white;
			font-weight: bold;
		}
		
		.carousel-caption a:hover {
			color: white;
			font-weight: bold;
		}
		
		.carousel-caption h5{
			font-size: 1.2em;
			font-weight: bold;
		}		
		
		.carousel-caption p{
			display: none;
		}		
		
		.carousel-caption:hover  p{
			display: initial;
		}
		
		.carousel-caption:hover{
			background: rgba(0, 0, 0, 0.5); 
			color: #f1f1f1;
			opacity: 1;
		}
		
		.carousel-inner img{
		  display: block;
		  height: 80%;
		  width: 80%;
		  margin-left: auto;
		  margin-right: auto;
		}