img {
	box-shadow: 0px 4px 10px 0px #70808c;
}

.section:nth-child(2n) {
	color: white;
	background: #13a3b5;
}

.section:nth-child(2n) a {
	color: white;
}

.section:nth-child(2n) a:hover {
	color: white;
	text-decoration: underline;
}

.modaltextlinks a {
	color: white;
}

.modaltextlinks a:hover{
	color: white;
	text-decoration: underline;
}

.section:nth-child(2n) img {
	box-shadow: 0px 4px 10px 0px #0e7987;
}

#navbutton {
	position: fixed;
	bottom: 20px;
    right: 35px;
	z-index: 1;
}

#navbutton .fa-chevron-circle-up {
	color: #f26f77;
}

#navbutton .fa-circle {
	color: white;
	font-size: 2.5em;
	left: 15%
}

#home {
	text-align: center;
}

#selfportait {
	border-radius: 10px;
	width: 100%;
	top:50%;
	display: block;
	margin: 0px auto;
}

#developer p {
	text-align: center;
}

#recognition ul {
	list-style-type: none;
}

#recognition li {
	margin: 5% 0 5% 0;
	font-size: 1em;
}

#recognition h6 {
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

#connect {
	text-align: center;
}

#connect p {
	margin-botton: 5%;
}

#connect #subtext {
	margin: 3%;
	text-transform: uppercase;
	font-size: .8em;
	opacity: .7;
}

#connect a {
	font-size: 2.5em;
	margin-left: 10px;
	margin-right: 10px;
	color: #13a3b5;
}

#connect a:hover {
	color: #0e7987;
	text-decoration: none;
}

#community {
  padding: 5% 0 0 0;
}

#community p {
  padding-left: calc(4vw + 10%);
  padding-right: calc(4vw + 10%);
}

#community img {
  box-shadow: 0 0 0 0;
}

#communityImages div {
  padding: 0 0 0 0;
}

.communityOrange { background-color: #f4a24c; }

.communityPink { background-color: #f26f77; }

.communityBlue { background-color: #13a3b5; }

.communityGreen { background-color: #a6d050; }
