img {
	box-shadow: 0px 4px 10px 0px #70808c;
	box-sizing: border-box;
}

.section:nth-child(2n) {
	color: white;
	background: #13a3b5;
}

.section:nth-child(2n) a {
	color: white;
}

.section:nth-child(2n) a:hover {
	color: white;
	text-decoration: underline;
}

.modaltextlinks a {
	color: white;
}

.modaltextlinks a:hover{
	color: white;
	text-decoration: underline;
}

.section:nth-child(2n) img {
	box-shadow: 0px 4px 10px 0px #0e7987;
}

#navbutton {
	position: fixed;
	bottom: 20px;
    right: 35px;
	z-index: 1;
}

#navbutton .fa-chevron-circle-up {
	color: #f26f77;
}

#navbutton .fa-circle {
	color: white;
	font-size: 2.5em;
	left: 15%
}

#home {
	text-align: center;
}

#selfportait {
	border-radius: 10px;
}

#developer p {
	text-align: center;
}

#recognition ul {
	list-style-type: none;
}

#recognition li {
	margin: 5% 0 5% 0;
	font-size: 1em;
}

#recognition h6 {
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

.logoImage {
	margin: 0 2% 0 2%;
}

.logoImage img{
	margin: 0 0 0 0;
	box-shadow: 0px 0px 0px 0px;
}

#connect {
	text-align: center;
}

#connect p {
	margin-botton: 5%;
}

#connect #subtext {
	margin: 3%;
	text-transform: uppercase;
	font-size: .8em;
	opacity: .7;
}

#connect a {
	font-size: 2.5em;
	margin-left: 10px;
	margin-right: 10px;
	color: #007485;
}

#connect a:hover {
	color: white;
	text-decoration: none;
}

#community p{
	padding-bottom: 3%;
	padding-left: 4%;
	margin-bottom: 0;
	text-align: center;
}

#community ul {
	list-style-type: none;
	text-align: center;
	font-weight: bold;
	padding: 1% 0 0 0;
}

#community img {
  box-shadow: 0 0 0 0;
}

#community .centeredTitle {
  padding-top: calc(3% + 10px);
	padding-bottom: 3%;
	padding-left: 4%;
}

#communityImages div {
  padding: 0;
	margin: 0;
}

#graduate p {
	text-align: center;
}

#herhelloworld{
	padding-bottom: 0;
	text-align: center;
}

#herhelloworld h4{
  padding-left: calc(4vw + 5%);
  padding-right: calc(4vw + 5%);
	padding-bottom: 3%;
}

#herhelloworld p{
  padding-left: calc(4vw + 5%);
  padding-right: calc(4vw + 5%);
}

#herhelloworld .centeredTitle{
	text-transform: none;
}

.wide-section {
  padding: 3% 0 0 0;
}

.wide-section p {
  padding-left: calc(4vw + 5%);
  padding-right: calc(4vw + 5%);
	text-align: center;
}

.container-buffer{
	padding: 3%;
}

.communityOrange { background-color: #f4a24c; }

.communityPink { background-color: #f26f77; }

.communityBlue { background-color: #13a3b5; }

.communityGreen { background-color: #a6d050; }

.recognitionFirst { color: #f4a24c; }
.recognitionSecond { color: #f26f77; }
.recognitionThird { color: #13a3b5; }
.recognitionFourth { color: #a6d050; }
